html {
  overflow-y: hidden;

  body {
    color: #fff;
  }
}


@peng-height: 300px;
@border-color: rgb(149, 255, 255);
@border: 3px solid rgb(149, 255, 255);
@border-special: 3px solid rgb(16, 36, 64);
@text-top: 65px;
@font-size-12: 12px;
@font-size-14: 14px;
@font-size-16: 16px;
@font-size-18: 18px;
@font-size-20: 20px;

.content {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  min-height: 1000px;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  text-shadow: 6px 6px 20px #00d8ff;

  .content-left {
    width: 29%;
    border: 1px solid #fff;
    
  }

  .content-right {
    width: 29%;
    border: 1px solid #fff;
  }

  main {
    width: 668px;
    // border: 1px solid #fff;
    background: url('../img/pi.png') no-repeat center;
    height: 992px;
    background-size: 100% 100%;

    .content-top {
      height: 38%;
      position: relative;
      left: 0;
      top: 0;

      ul {
        li {
          width: 10%;
        }

        .beng-name-top {
          text-align: center;
        }

        .peng-bottom,
        .peng-top,
        .peng-top2,
        .peng-top4 {
          margin-top: 30%;
          width: 35px;
          height: 35px;
          text-align: center;
          border: none;
          background: none;
        }

        .btn.focus,
        .btn:focus {
          outline: 0;
          box-shadow: none;
        }

        .peng-name1,
        .peng-name3 {
          margin-top: 90%;
          width: 2%;
        }

        .peng-name4 {
          margin: 0 auto;
          margin-top: -30%;
          width: 2%;
        }

        .peng-name2 {
          width: 2%;
          margin: 0 auto;
        }


        .peng-top {
          margin-top: 65%;
        }

        .peng-top2 {
          margin-top: 154%;
        }

        .peng-top4 {
          margin-top: 154%;
        }

        li:nth-child(1) {
          position: absolute;
          top: @text-top;
          left: 24%;
        }

        li:nth-child(2) {
          position: absolute;
          top: @text-top;
          left: 34%;
        }


        li:nth-child(3) {
          position: absolute;
          top: @text-top;
          left: 46%;
        }


        li:nth-child(4) {
          position: absolute;
          top: 47px+@text-top;
          left: 57%;
        }
      }
    }

    .content-center {
      height: 10%;
      margin-left: 5%
    }

    .content-bottom {
      height: 24%;

      .content-bottom-left {
        width: 25%;
        text-align: left;
        position: relative;
        left: -16px;

        .content-bottom-left-top {
          margin-top: 24%;
        }

        .content-bottom-left-bottom {
          margin-top: 40%;
          margin-right: 2%;
        }

      }

      .content-bottom-center {
        width: 56%;

        ul {
          li {
            width: 20%;

            .modules-name {
              width: 2%;
              font-size: @font-size-12;
            }

            .modules-btn {
              margin-top: 170%;
              width: 35px;
              height: 35px;
              text-align: center;
              border: none;
              background: none;
            }

            .btn.focus,
            .btn:focus {
              outline: 0;
              box-shadow: none;
            }
          }
        }

      }

      .content-bottom-right {
        width: 20%;
        margin-left: 0%;

        .content-bottom-right-top {
          margin-top: 30%;
        }

        .content-bottom-right-bottom {
          margin-top: 50%;
          margin-right: 2%;
        }
      }
    }

    .footer {
      height: 100%;
      .footer-bottom {
        width: 35px;
        height: 35px;
        text-align: center;
        border: none;
        background: none;
        margin-left: -14%;
      }

      .btn.focus,
      .btn:focus {
        outline: 0;
        box-shadow: none;
      }

      .content-footer-1 {
        height: 8%;
        display: flex;
        align-items: flex-end;
        margin-left: 5%;
      }

      .content-footer-2 {
        height: 8%;
        display: flex;
        align-items: center;
        .footer-bottom {
          width: 35px;
          height: 35px;
          text-align: center;
          border: none;
          background: none;
          margin-left: -14%;
        }

        .btn.focus,
        .btn:focus {
          outline: 0;
          box-shadow: none;
        }
      }

      .content-footer-3{
        height: 8%;
        display: flex;
        align-items: center;
        .content-footer-3-left{
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          .footer-bottom {
            width: 100px;
            height: 52px;
            text-align: center;
            border: none;
            background: none;
            margin-left: -14%;
            margin-top: -10%;
          }
          
        }
        .content-footer-3-right{
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }


  }
}