html {
  overflow-y: hidden;
}
html body {
  color: #fff;
}
.content {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  min-height: 1000px;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  text-shadow: 6px 6px 20px #00d8ff;
}
.content .content-left {
  width: 29%;
  border: 1px solid #fff;
}
.content .content-right {
  width: 29%;
  border: 1px solid #fff;
}
.content main {
  width: 668px;
  background: url('../img/pi.png') no-repeat center;
  height: 992px;
  background-size: 100% 100%;
}
.content main .content-top {
  height: 38%;
  position: relative;
  left: 0;
  top: 0;
}
.content main .content-top ul li {
  width: 10%;
}
.content main .content-top ul .beng-name-top {
  text-align: center;
}
.content main .content-top ul .peng-bottom,
.content main .content-top ul .peng-top,
.content main .content-top ul .peng-top2,
.content main .content-top ul .peng-top4 {
  margin-top: 30%;
  width: 35px;
  height: 35px;
  text-align: center;
  border: none;
  background: none;
}
.content main .content-top ul .btn.focus,
.content main .content-top ul .btn:focus {
  outline: 0;
  box-shadow: none;
}
.content main .content-top ul .peng-name1,
.content main .content-top ul .peng-name3 {
  margin-top: 90%;
  width: 2%;
}
.content main .content-top ul .peng-name4 {
  margin: 0 auto;
  margin-top: -30%;
  width: 2%;
}
.content main .content-top ul .peng-name2 {
  width: 2%;
  margin: 0 auto;
}
.content main .content-top ul .peng-top {
  margin-top: 65%;
}
.content main .content-top ul .peng-top2 {
  margin-top: 154%;
}
.content main .content-top ul .peng-top4 {
  margin-top: 154%;
}
.content main .content-top ul li:nth-child(1) {
  position: absolute;
  top: 65px;
  left: 24%;
}
.content main .content-top ul li:nth-child(2) {
  position: absolute;
  top: 65px;
  left: 34%;
}
.content main .content-top ul li:nth-child(3) {
  position: absolute;
  top: 65px;
  left: 46%;
}
.content main .content-top ul li:nth-child(4) {
  position: absolute;
  top: 112px;
  left: 57%;
}
.content main .content-center {
  height: 10%;
  margin-left: 5%;
}
.content main .content-bottom {
  height: 24%;
}
.content main .content-bottom .content-bottom-left {
  width: 25%;
  text-align: left;
  position: relative;
  left: -16px;
}
.content main .content-bottom .content-bottom-left .content-bottom-left-top {
  margin-top: 24%;
}
.content main .content-bottom .content-bottom-left .content-bottom-left-bottom {
  margin-top: 40%;
  margin-right: 2%;
}
.content main .content-bottom .content-bottom-center {
  width: 56%;
}
.content main .content-bottom .content-bottom-center ul li {
  width: 20%;
}
.content main .content-bottom .content-bottom-center ul li .modules-name {
  width: 2%;
  font-size: 12px;
}
.content main .content-bottom .content-bottom-center ul li .modules-btn {
  margin-top: 170%;
  width: 35px;
  height: 35px;
  text-align: center;
  border: none;
  background: none;
}
.content main .content-bottom .content-bottom-center ul li .btn.focus,
.content main .content-bottom .content-bottom-center ul li .btn:focus {
  outline: 0;
  box-shadow: none;
}
.content main .content-bottom .content-bottom-right {
  width: 20%;
  margin-left: 0%;
}
.content main .content-bottom .content-bottom-right .content-bottom-right-top {
  margin-top: 30%;
}
.content main .content-bottom .content-bottom-right .content-bottom-right-bottom {
  margin-top: 50%;
  margin-right: 2%;
}
.content main .footer {
  height: 100%;
}
.content main .footer .content-footer-1 {
  height: 8%;
  display: flex;
  align-items: flex-end;
  margin-left: 5%;
}
.content main .footer .content-footer-2 {
  height: 8%;
  display: flex;
  align-items: center;
}
.content main .footer .content-footer-2 .footer-bottom {
  width: 35px;
  height: 35px;
  text-align: center;
  border: none;
  background: none;
  margin-left: -14%;
}
.content main .footer .content-footer-2 .btn.focus,
.content main .footer .content-footer-2 .btn:focus {
  outline: 0;
  box-shadow: none;
}
.content main .footer .content-footer-3 {
  height: 8%;
  display: flex;
  align-items: center;
}
.content main .footer .content-footer-3 .content-footer-3-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.content main .footer .content-footer-3 .content-footer-3-right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
